@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="body-content" id="login">
    <div class="text-center">
        <div class="login-content">
            <img src="~/images/logo.png" alt="logo">
            <h1>Login Page</h1>
            <hr>
            <div class="login-box">
                @{
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <p class="error-message">@Model.ErrorMessage</p>
                    }
                }
                <form action="@Url.Action("Login", "Login")" method="post">
                    <input type="text" name="email" required placeholder="E-mail">
                    <br>
                    <input type="password" name="password" required placeholder="Password">
                    <br>
                    <input type="submit" value="Login" id="login-button">
                </form>
            </div>
            <a asp-area="" asp-controller="Login" asp-action="Registration">Registration</a>
            <hr>
        </div>
    </div>
</div>